@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
.cal-scene, .cal-button > *, .cal-title > .cal-heading, .cal-day {
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

[id="index"]:target ~ .cal-device .cal-scene.-calendar > .cal-month, [id="index"]:target ~ .cal-device .cal-scene.-calendar > .cal-header {
  -webkit-animation: fade-in 0.6s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) both;
          animation: fade-in 0.6s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) both;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
[id="schedule"]:target ~ .cal-device .cal-bar .-schedule {
  opacity: 1;
}
[id="schedule"]:target ~ .cal-device .cal-bar .-calendar {
  opacity: 0;
}
[id="schedule"]:target ~ .cal-device .cal-scene.-schedule {
  opacity: 1;
  z-index: 2;
}
[id="schedule"]:target ~ .cal-device .cal-time > *, [id="schedule"]:target ~ .cal-device .cal-task > * {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
[id="schedule"]:target ~ .cal-device .cal-item:nth-child(1) .cal-time > *, [id="schedule"]:target ~ .cal-device .cal-item:nth-child(1) .cal-task > * {
  transition-delay: 0s;
}
[id="schedule"]:target ~ .cal-device .cal-item:nth-child(2) .cal-time > *, [id="schedule"]:target ~ .cal-device .cal-item:nth-child(2) .cal-task > * {
  transition-delay: 0.06s;
}
[id="schedule"]:target ~ .cal-device .cal-item:nth-child(3) .cal-time > *, [id="schedule"]:target ~ .cal-device .cal-item:nth-child(3) .cal-task > * {
  transition-delay: 0.12s;
}
[id="schedule"]:target ~ .cal-device .cal-item:nth-child(4) .cal-time > *, [id="schedule"]:target ~ .cal-device .cal-item:nth-child(4) .cal-task > * {
  transition-delay: 0.18s;
}
[id="schedule"]:target ~ .cal-device .cal-item:nth-child(5) .cal-time > *, [id="schedule"]:target ~ .cal-device .cal-item:nth-child(5) .cal-task > * {
  transition-delay: 0.24s;
}
[id="schedule"]:target ~ .cal-device .cal-item:nth-child(6) .cal-time > *, [id="schedule"]:target ~ .cal-device .cal-item:nth-child(6) .cal-task > * {
  transition-delay: 0.3s;
}
[id="schedule"]:target ~ .cal-device .cal-item:nth-child(7) .cal-time > *, [id="schedule"]:target ~ .cal-device .cal-item:nth-child(7) .cal-task > * {
  transition-delay: 0.36s;
}
[id="schedule"]:target ~ .cal-device .cal-scene.-calendar, [id="schedule"]:target ~ .cal-device .cal-scene.-calendar * {
  transition-delay: 0.6s;
}

.cal-device {
  width: 180vh;
  height: 68vh;
  background: white;
}
.cal-device > .cal-header {
  height: 15vh;
  background: #1c3e69;
}

.cal-app {
  height: 52vh;
  width: 100%;
  background-color: lightsteelblue;
}

.cal-week {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.cal-weekday {
  color: white;
  width: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: 600;
  font-size: 4vh;
}

.fa {
  font-size: 2.5714285714vh;
}

.cal-scene {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.cal-scene.-calendar:before {
  content: '';
  display: block;
  height: 10vh;
  width: 15vh;
  position: absolute;
  top: 0vh;
  left: 0;
  transition: box-shadow 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.cal-scene.-schedule {
  z-index: -1;
  opacity: 0;
}

.cal-month {
  display: block;
  counter-reset: month;
  transition: -webkit-transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 1;
}
.cal-month:first-child {
  margin-top: 0vh;
}
.cal-month:first-child > .cal-header {
  top: 15.4285714286vh;
}
.cal-month:first-child ~ .cal-month {
  margin-top: 0vh;
}
.cal-month > .cal-header {
  position: absolute;
  height: 10vh;
  width: 23.1428571429vh;
  padding: 2.2040816327vh;
  z-index: 1;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.cal-month > .cal-header > .cal-link {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 1.9285714286vh;
  text-decoration: none;
  color: gray;
  text-transform: uppercase;
  padding: 0.6428571429vh 5.1428571429vh;
  border-radius: 2.5714285714vh;
  background: white;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-weight: 600;
}
.cal-month > .cal-header > .cal-link > span {
  display: block;
  position: absolute;
  top: 48%;
  left: 50%;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.cal-month.-january {
  margin-top: 0 !important;
}

.cal-subheader {
  height: 0vh;
  width: 100%;
}

.cal-bar {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cal-bar > .cal-title {
  flex-grow: 1;
  height: 100%;
}
.cal-bar .-schedule {
  opacity: 0;
}

.cal-button {
  width: 10vh;
  height: 10vh;
}
.cal-button > * {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 3.0857142857vh;
}

.cal-title > .cal-heading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 3.0857142857vh;
}

.cal-arrow {
  position: absolute;
  height: 10vh;
  width: 15vh;
  background: white;
  top: 0;
  right: 0;
  padding: 1.2857142857vh;
  background-clip: content-box;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: gray;
}
.cal-arrow .fa-chevron-up {
  top: -1px;
}

.cal-day {
  counter-increment: month;
  width: 14.2%;
  height: 7vh;
  display: block;
  float: left;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 4vh;
  top: 10vh;
}
.cal-day[href="#schedule"]:before {
  background: rgba(255, 255, 255, 0.4);
}
.cal-day:before {
  content: counter(month);
  display: block;
  height: 75%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.cal-item {
  height: 7vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.cal-item.-long {
  height: 10vh;
}

.cal-item > .cal-time {
   border-style: solid;
   border-width: 2px;
   border-color: black;
   background-color: gray;
}


.cal-time {
  width: 15vh;
  flex-basis: 30vh;
  height: 100%;
  justify-content: center;
  line-height: 7vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
}
.cal-time > * {
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform: translateX(-30vh);
          transform: translateX(-30vh);
  font-weight: 600;
  font-size: 5vh;
}

.cal-task {
  flex-basis: 38.5714285714vh;
  height: 100%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2.5714285714vh;
  font-size: 1.9285714286vh;
}
.cal-task > p {
  margin-top: 0;
  margin-bottom: 0;
  color: #12255E;
}
.cal-task > a {
  text-decoration: none;
  color: red;
  font-weight: 600;
}
.cal-task > a > .fa {
  margin-right: 0.9642857143vh;
}
.cal-task > * {
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform: translateX(38.5714285714vh);
          transform: translateX(38.5714285714vh);
}

.meta {
  flex-basis: calc(80% - 54vh);
  font-size: 2.5714285714vh;
  font-weight: 300;
}
.meta p, .meta a {
  color: rgba(255, 255, 255, 0.7);
}
.meta h1 {
  font-size: 9.2571428571vh;
  line-height: 9.2571428571vh;
  font-weight: 300;
  color: white;
}
.meta p {
  line-height: 1.4;
}
.meta a:hover {
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 750px) {
  .meta {
    display: none;
  }
}

body {
  background: white;
  font-family: Source Sans Pro, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 750px) {
  body {
    justify-content: center;
  }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  quotes: "«" "»";
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

.cal-month:before,
.cal-month:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cal-month:after {
  clear: both;
}
