main {
    overflow: auto;
}

#return-info {
    display: none;
}

#show-departure-airline, #show-destination-airline, 
#show-return-departure-airline, #show-return-destination-airline {
    display: none;
}

#pickupaddress-div, #dropoffaddress-div, 
#return-pickupaddress-div, #return-dropoffaddress-div {
    display: none;
}

.group { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px groove;
    margin-bottom: 10px;
}

.logo {
    padding-top: 50px;
    max-width: 100%;
}

.navbar-inverse {
    background-color: #293144;
    border-color: #FFFFFF;
    opacity: 0.9;
}

.dropdown-toggle {
    color: #9d9d9d;
    padding: 10px 15px;
}

/*
.dropdown-menu .nav-link {
    color: #9d9d9d;
    background: #101010;
    padding: 10px 15px;
    opacity: 0.9;
}
*/

.dropdown-menu {
    margin-top: 0px;
    padding: 0px;
}

.trip-wrapper {
    display: grid;
    grid-template-columns: 10% 10% 11% 12% 14% 6% 7% 7%;
    grid-gap: 2px;
    background-color: #fff;
    color: #444;
}

.reservation-wrapper {
    display: grid;
    grid-template-columns: 6% 8% 15% 13% 13% 5% 4% 8% 4% 4% 4% 7% 7%;
    grid-gap: 2px;
    background-color: #fff;
    color: #444;
}

.time-wrapper {
    display: grid;
    grid-template-columns: 20% 10% 7% 20% 20% 8% 8%;
    grid-gap: 2px;
    background-color: #fff;
    color: #444;
}

.driver-wrapper {
    display: grid;
    grid-template-columns: 12% 12% 8% 8%;
    grid-gap: 2px;
    background-color: #fff;
    color: #444;
}

.vehicle-wrapper {
    display: grid;
    grid-template-columns: 12% 12% 12% 8% 8%;
    grid-gap: 2px;
    background-color: #fff;
    color: #444;
}

.venue-wrapper {
    display: grid;
    grid-template-columns: 12% 30% 8% 8% 8% 8% 8%;
    grid-gap: 2px;
    background-color: #fff;
    color: #444;
}

.city-wrapper {
    display: grid;
    grid-template-columns: 12% 20% 20% 8% 8%;
    grid-gap: 2px;
    background-color: #fff;
    color: #444;
}

.price-wrapper {
    display: grid;
    grid-template-columns: 25% 25% 15% 10% 10%;
    grid-gap: 2px;
    background-color: #fff;
    color: #444;
}

.driver-report-wrapper {
    display: grid;
    grid-template-columns: 10% 12% 20% 12% 20% 7% 7%;
    grid-gap: 2px;
    background-color: #fff;
    color: #444;
}

.travelagency-report-wrapper {
    display: grid;
    grid-template-columns: 40% 15% 15% 15%;
    grid-gap: 2px;
    background-color: #fff;
    color: #444;
}

.box {
    /*background-color: #444;*/
    color: #000;
    border-radius: 3px;
    padding: 5px;
}

.header {
  background-color: #999;
}

.nav>li>a {
    padding: 10px 10px;
}

