<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Northern Airport Trip Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/calendar.css">
</head>
<body>
    <header>
        {{ template "navbar" }}
    </header>
    <main>
        <div class="route" id="index"></div>
        {{ range .Days }}
            {{ if not .CalendarTrips }}
            {{ else }}
                <div class="route" id="schedule-{{ .DayNum }}"></div>
            {{ end }}
        {{ end }}
        <div class="cal-device">
            <header class="cal-header">
                <div class="cal-subheader"></div>
                <div class="cal-bar">
                    <div class="cal-button -left">
                        <i class="fa fa-bars -calendar"></i>
                        {{ range .Days }}
                            {{ if not .CalendarTrips }}
                            {{ else }}
                                <a href="#index" class="fa fa-chevron-left -schedule-{{ .DayNum }}"></a>
                            {{ end }}
                        {{ end }}
                    </div>
                    <div class="cal-title">
                        <div class="cal-heading -calendar"><h1>Calendar Report - {{ .CurrentDate.Format "January 2006" }}</h1></div>
                        {{ range .Days }}
                            {{ if not .CalendarTrips }}
                            {{ else }}
                                <div class="cal-heading -schedule-{{ .DayNum }}">Day {{ .DayNum }}</div>
                            {{ end }}
                        {{ end }}
                    </div>
                    <div class="cal-button -right">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </header>
            <section class="cal-app">
                <header class="cal-week">
                    <div class="cal-weekday">SUN</div>
                    <div class="cal-weekday">MON</div>
                    <div class="cal-weekday">TUE</div>
                    <div class="cal-weekday">WED</div>
                    <div class="cal-weekday">THU</div>
                    <div class="cal-weekday">FRI</div>
                    <div class="cal-weekday">SAT</div>
                </header>
                <div class="cal-scene -calendar">
                    <div class="cal-month -">
                        {{ range .Days }}
                                {{ if not .CalendarTrips }}
                                    <div class="cal-day"></div>
                                {{ else }}
                                    <div href="#schedule-{{ .DayNum }}"  class="cal-day">
                                        <span class="trips">
                                            {{ range .CalendarTrips }}
                                                <div class="trip">
                                                    <span class="dep-time">Time: {{ .DepartureTime }} - </span>
                                                    <span class="num-pass">{{ .NumPassengers }} Pass.</span>
                                                </div>
                                            {{ end }}
                                        </span>
                                    </div>
                                {{ end }}
                        {{ end }}
                    </div>
                </div>
                {{ range .Days }}
                    {{ if not .CalendarTrips }}
                    {{ else }}
                        <div class="cal-scene -schedule-{{ .DayNum }}">
                            {{ range .CalendarTrips }}
                                <div class="cal-item">
                                    <div class="cal-time"><span>Departure Time - {{ .DepartureTime }}</span></div>
                                    <div class="cal-task">
                                        <p>
                                        {{ if .NumPassengers }}
                                              <b>{{ .NumPassengers }} Passengers</b> 
                                        {{ end }}
                                        </p>
                                    </div>
                                </div>
                            {{ end }}
                        </div>
                    {{ end }}
                {{ end }}
            </section>

            {{ template "adminnavbar" . }}        
        
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>