<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Northern Airport City Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
    <header>
        {{ template "navbar" }}

        {{ with index . 0 }}
            {{ if or (eq .RoleID 3) (eq .RoleID 4) (eq .RoleID 5) }}
                <nav class="navbar navbar-inverse" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#admin-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="admin-navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="/reports">Reports</a>
                                    {{- /* if user is staff or admin */ -}}
                                    <ul class="dropdown-menu">
                                        {{ if or (eq .RoleID 3) (eq .RoleID 4) }}
                                            <li class="nav-link" href="/">Test Report</li>
                                        {{ end }}
                                        <li class="nav-link" href="/driver-report">Driver Report</li>
                                    </ul>
                                </li>
                                {{ if or (eq .RoleID 3) (eq .RoleID 4) }}
                                    {{ template "adminnavbar" }}
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </nav>
            {{ end }}
        {{ end }}
    </header>
        <main>
        <div class="container">
            <h1>Cities</h1>
            <div class="city-wrapper">
                <div class="box header" id="cityname-header">City Name</div>
                <div class="box header" id="northoffset-header">North Offset (mins from NB)</div>
                <div class="box header" id="southoffset-header">South Offset (mins from TO)</div>
            </div>
            <div class="city-wrapper">
                {{ range . }}
                    <div class="box city-row" id="cityname-{{ .CityID }}">{{ .CityName }}</div>
                    <div class="box city-row" id="northoffset-{{ .CityID }}">{{ .NorthOffset }}</div>
                    <div class="box city-row" id="southoffset-{{ .CityID }}">{{ .SouthOffset }}</div>
                {{ end }}
            </div>
            <form id="add-driver" method="post" action="/cities" onsubmit="submit.disabled = true; return true;">
                <div class="driver-wrapper">
                    <div class="box driver-row" id="cityname-add">
                        <input type="text" class="form-control" id="cityname" name="cityname" required>
                    </div>
                    <div class="box driver-row" id="northoffset-add">
                        <input type="text" class="form-control" id="northoffset" name="northoffset" required>
                    </div>
                    <div class="box driver-row" id="southoffset-add">
                        <input type="text" class="form-control" id="southoffset" name="southoffset" required>
                    </div>
                    <button id="submit" type="submit" name="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </main>
    
    {{ template "footer" }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>