<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Northern Airport Trip Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
    <header>
        <img class="logo" src="../assets/media/nas-stripes.jpg" alt="northern airport passenger service logo"/>
        {{ template "navbar" }}

        {{ template "adminnavbar" index . 0 }}
    </header>
    <main>
        <div class="container">
            <h1>Departure Times</h1>
            <div class="time-wrapper">
                <div class="box header" id="cityname-header">City</div>
                <div class="box header" id="departuretime-header">Departure Time</div>
                <div class="box header" id="recurring-header">Recurring</div>
                <div class="box header" id="startdate-header">Start Date</div>
                <div class="box header" id="enddate-header">End Date</div>
                <div class="box header" id="save-header">Save Row</div>
                <div class="box header" id="delete-header">Delete Row</div>
            </div>
            <div class="time-wrapper">
                {{ range . }}
                    <select class="form-control" id="city-{{ .DepartureTimeID }}" name="departuretimeid">
                        {{ range .CityList }}
                            <option value="{{ .CityID }}">{{ .CityName }}</option>
                        {{ end }}
                    </select>
                    <div class="box time-row">
                        <input type="text" class="form-control" id="departuretime-{{ .DepartureTimeID }}" name="departuretime-{{ .DepartureTimeID }}" value="{{ .DepartureTime }}">
                    </div>
                    <div class="box time-row">
                        <input type="text" class="form-control" id="recurring-{{ .DepartureTimeID }}" name="recurring-{{ .DepartureTimeID }}" value="{{ .Recurring }}">
                    </div>
                    {{ if .StartDate.After .Epoch }}
                        <input type="date" class="form-control" id="startdate-{{ .DepartureTimeID }}" name="startdate-{{ .DepartureTimeID }}" value='{{ .StartDate.Format "2006-01-02" }}' required>
                    {{ else }}
                        <input type="date" class="form-control" id="startdate-{{ .DepartureTimeID }}" name="startdate-{{ .DepartureTimeID }}" value="" required>
                    {{ end }}
                    {{ if .EndDate.After .Epoch }}
                        <input type="date" class="form-control" id="enddate-{{ .DepartureTimeID }}" name="enddate-{{ .DepartureTimeID }}" value='{{ .EndDate.Format "2006-01-02" }}' required>
                    {{ else }}
                        <input type="date" class="form-control" id="enddate-{{ .DepartureTimeID }}" name="enddate-{{ .DepartureTimeID }}" value="" required>
                    {{ end }}
                    <div class="box time-row" id="save-{{ .DepartureTimeID }}">
                        <button class="btn btn-primary">Save</button>
                    </div>
                    <div class="box time-row" id="delete-{{ .DepartureTimeID }}">
                        <button class="btn btn-primary">Delete</button>
                    </div>
                {{ end }}
                
                {{ with index . 0 }}
                    <select class="form-control" id="city" name="departuretimeid">
                        {{ range .CityList }}
                            <option value="{{ .CityID }}">{{ .CityName }}</option>
                        {{ end }}
                    </select>
                    
                {{ end }}
                <div class="box time-row">
                    <input type="text" class="form-control" id="departuretime" name="departuretime">
                </div>
                <div class="box time-row">
                    <input type="text" class="form-control" id="recurring" name="recurring">
                </div>
                <div class="box time-row">
                    <input type="date" class="form-control" id="startdate" name="startdate">
                </div>
                <div class="box time-row">
                    <input type="date" class="form-control" id="enddate" name="enddate">
                </div>
                <div class="box time-row" id="add">
                    <button class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </main>
    
    {{ template "footer" }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" >
        
        {{ range . }} 

            //set city list to correct one by cityid
            var cityid = {{ .CityID }}
            var city = document.getElementById("city-{{ .DepartureTimeID }}");
        
            if (cityid != 0)
            {
                city.value = cityid;

            }
            
            var save = document.getElementById("save-{{ .DepartureTimeID }}");
            save.onclick = function(){
                var departuretimeid = {{ .DepartureTimeID }}
                var cityid = document.getElementById("city-{{ .DepartureTimeID }}").value;
                var departuretime = document.getElementById("departuretime-{{ .DepartureTimeID }}").value;
                var recurring = document.getElementById("recurring-{{ .DepartureTimeID }}").value;
                var startdate = document.getElementById("startdate-{{ .DepartureTimeID }}").value;
                var enddate = document.getElementById("enddate-{{ .DepartureTimeID }}").value;
                
                var xhr = new XMLHttpRequest();
                xhr.open('PUT', '/times?departuretimeid='+departuretimeid+'&cityid='+cityid+'&departuretime='+departuretime+
                    '&recurring='+recurring+'&startdate='+startdate+'&enddate='+enddate);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onload = function() {
                    if (xhr.status != 200) {
                        alert('failed:' + xhr.status);
                    }
                }

                try {
                    xhr.send();
                } catch (err) {
                    alert("Error sending request: " + err)
                }
            }
        {{ end }}

        var add = document.getElementById("add");
        add.onclick = function(){
            var cityid = document.getElementById("city").value;
            var departuretime = document.getElementById("departuretime").value;
            var recurring = document.getElementById("recurring").value;
            var startdate = document.getElementById("startdate").value;
            var enddate = document.getElementById("enddate").value;
            
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/times?cityid='+cityid+'&departuretime='+departuretime+
                '&recurring='+recurring+'&startdate='+startdate+'&enddate='+enddate);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
                if (xhr.status != 200) {
                    alert('failed:' + xhr.status);
                }
            }

            try {
                xhr.send();
            } catch (err) {
                alert("Error sending request: " + err)
            }
        }
    </script>
</body>
</html>