<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Northern Airport Driver Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
    <header>
        <img class="logo" src="../assets/media/nas-stripes.jpg" alt="northern airport passenger service logo"/>
        {{ template "navbar" }}

        {{ template "adminnavbar" . }}

    </header>
        <main>
        <div class="container">
            <h1>Driver Report</h1>
            {{ with . }}
                <div class="driver-report-criteria-wrapper">
                    <div class="row justify-content-around">
                        <div class="col-xs-4">
                            <label for="name">Driver Name</label>
                            <select class="form-control" id="drivername" name="drivername">
                                <option value="0">Select a Driver</option>
                                {{ range .Drivers }}
                                    <option value="{{ .DriverID }}">{{ .DriverName }}</option>
                                {{ end }}
                            </select>
                        </div>
                        <div class="col-xs-4">
                            <label for="departuredate">Departure Date</label>
                            <input type="date" class="form-control" id="departuredate" name="departuredate" required>
                        </div>
                        <div class="col-xs-4">
                                <button class="btn btn-primary" id="update">Update</button>
                        </div>
                    </div>
                </div>
                <div class="driver-report-wrapper">
                    <div class="box header" id="client-header">Client Name</div>
                    <div class="box header" id="departurecity-header">Departure City</div>
                    <div class="box header" id="departurevenue-header">Departure Venue</div>
                    <div class="box header" id="destinationcity-header">Destination City</div>
                    <div class="box header" id="destinationvenue-header">Destination Venue</div>
                    <div class="box header" id="departuretime-header">Departure Time</div>
                    <div class="box header" id="numpassengers-header">Number of Passengers</div>
                </div>
                <div class="driver-report-wrapper">
                    {{ range .DriverReports }}
                        <div class="box driver-report-row">
                            <input type="text" class="form-control" id="client-{{ .ReservationID }}" name="clientname" value="{{ .ClientName }}">
                        </div>
                        <div class="box driver-report-row">
                            <input type="text" class="form-control" id="departurecity-{{ .ReservationID }}" name="departurecity" value="{{ .DepartureCity }}">
                        </div>
                        <div class="box driver-report-row">
                            <input type="text" class="form-control" id="departurevenue-{{ .ReservationID }}" name="departurevenue" value="{{ .DepartureVenue }}">
                        </div>
                        <div class="box driver-report-row">
                            <input type="text" class="form-control" id="destinationcity-{{ .ReservationID }}" name="destinationcity" value="{{ .DestinationCity }}">
                        </div>
                        <div class="box driver-report-row">
                            <input type="text" class="form-control" id="destinationvenue-{{ .ReservationID }}" name="destinationvenue" value="{{ .DestinationVenue }}">
                        </div>
                        <div class="box driver-report-row">
                            <input type="text" class="form-control" id="departuretime-{{ .ReservationID }}" name="departuretime" value="{{ .DepartureTime }}">
                        </div>
                        <div class="box driver-report-row">
                            <input type="text" class="form-control" id="numpassengers-{{ .ReservationID }}" name="numpassengers" value="{{ .NumPassengers }}">
                        </div>
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </main>
    
    {{ template "footer" }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" >
        
        var update = document.getElementById("update");
        var validdate = 0;
                 
        update.onclick = function(){
            var driverid = document.getElementById("drivername").value;
            var departuredate = document.getElementById("departuredate").value;

            if(driverid == 0) {
                alert("Please select a driver");
            }

            /*
            if (Object.prototype.toString.call(d) === "[object Date]") {
                if (isNaN(d.getTime())) {
                    alert("Please select a date");
                    validdate = 1;
                }
                else
                {
                    validdate = 1;
                }
            } else {
                alert("Please select a date");
            }
            */

            if (driverid > 0) {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/driverreport?driverid='+driverid+'&departuredate='+departuredate);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onload = function() {
                    if (xhr.status != 200) {
                        alert('failed:' + xhr.status);
                    }
                    else
                    {
                        document.open(); 
                        document.write(xhr.response); 
                        document.close();
                    }
                };

                try {
                    xhr.send();
                } catch (err) {
                    alert("Error sending request: " + err);
                }
            }
        };
    </script>
</body>
</html>