<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Northern Airport Trip Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
    <header>
        <img class="logo" src="../assets/media/nas-stripes.jpg" alt="northern airport passenger service logo"/>
        {{ template "navbar" }}

        {{ template "adminnavbar" index . 0 }}

    </header>
    <main>
        <div class="container">
            <h1>Trip Prices</h1>
            <div class="price-wrapper">
                <div class="box header" id="departurecity-header">Departure City</div>
                <div class="box header" id="destinationcity-header">Destination City</div>
                <div class="box header" id="customertype-header">Customer Type</div>
                <div class="box header" id="price-header">Price</div>
                <div class="box header" id="save-header">Save</div>
            </div>
            <div class="price-wrapper">
                {{ range . }}
                    <div class="box price-row" id="departurecity-{{ .PriceID }}">{{ .DepartureCity }}</div>
                    <div class="box price-row" id="destinationcity-{{ .PriceID }}">{{ .DestinationCity }}</div>
                    <div class="box price-row" id="customertype-{{ .PriceID }}">{{ .CustomerType }}</div>
                    <div class="box price-row" id="price">
                        <input type="text" class="form-control" id="price-{{ .PriceID }}" name="price-{{ .PriceID }}" value="{{ .Price }}">
                    </div>
                    <div class="box price-row" id="save-{{ .PriceID }}">
                        <button class="btn btn-primary">Save</button>
                    </div>
                {{ end }}
            </div>
        </div>
    </main>
    
    {{ template "footer" }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" >
        
        {{ range . }} 

            var save = document.getElementById("save-{{ .PriceID }}");
            save.onclick = function(){
                var priceid = {{ .PriceID }}
                var price = document.getElementById("price-{{ .PriceID }}").value;

                var xhr = new XMLHttpRequest();
                xhr.open('PUT', '/prices?priceid='+priceid+'&price='+price);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onload = function() {
                    if (xhr.status != 200) {
                        alert('failed:' + xhr.status);
                    }
                    else
                    {
                        document.open(); 
                        document.write(xhr.response); 
                        document.close();
                    }
                }

                try {
                    xhr.send();
                } catch (err) {
                    alert("Error sending request: " + err)
                }
            }

        {{ end }}

    </script>
</body>
</html>