<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Go Sessions Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
    <header>
        <img src="../assets/media/nas-stripes.jpg" alt="northern airport passenger service logo"/>

        {{ template "navbar" }}

    </header>
    
    <main>
        <form id="reservation" action="/createreservation" method="post">
            
            <section class="client-info">
                <header>
                    <h3>Client Information</h3>
                </header>
                {{ with .Client }}
                    <div class="row justify-content-around">
                        <div class="form-group col-3">
                            <label for="firstname">Firstname</label>
                            {{ if .Authenticated }}
                                <input type="text" class="form-control" id="firstname" name="firstname" value={{.Firstname}}>
                            {{else}}
                                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Firstname">
                            {{end}}
                        </div>
                        <div class="form-group col-3">
                            <label for="lastname">Lastname</label>
                            {{ if .Authenticated }}
                                <input type="lastname" class="form-control" id="lastname" name="lastname" value={{.Lastname}}>
                            {{else}}
                                <input type="lastname" class="form-control" id="lastname" name="lastname" placeholder="Lastname">
                            {{end}}
                        </div>
                        <div class="form-group col-3"></div>
                    </div>

                    <div class="row justify-content-around">
                        <div class="form-group col-3">
                            <label for="email">Email</label>
                            {{ if .Authenticated }}
                                <input type="text" class="form-control" id="email" name="email" value={{.Email}}>
                            {{else}}
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                            {{end}}
                        </div>
                        <div class="form-group col-3">
                            <label for="phone">Phone Number</label>
                            {{ if .Authenticated }}
                                <input type="phone" class="form-control" id="phone" name="phone" value={{.Phone}}>
                            {{else}}
                                <input type="phone" class="form-control" id="phone" name="phone" placeholder="Phone">
                            {{end}}
                        </div>
                        <div class="col-3"></div>
                    </div>

                    <div class="row justify-content-around">
                        <div class="form-group col-3">
                            <label for="streetaddress">Street Address</label>
                            {{ if .Authenticated }}
                                <input type="text" class="form-control" id="streetaddress" name="streetaddress" value={{.StreetAddress}}>
                            {{else}}
                                <input type="text" class="form-control" id="streetaddress" name="streetaddress" placeholder="Street Address">
                            {{end}}
                        </div>
                        <div class="form-group col-3">
                            <label for="city">City</label>
                            {{ if .Authenticated }}
                                <input type="city" class="form-control" id="city" name="city" value={{.City}}>
                            {{else}}
                                <input type="city" class="form-control" id="city" name="city" placeholder="City">
                            {{end}}
                        </div>
                        <div class="col-3"></div>
                    </div>

                    <div class="row justify-content-around">
                        <div class="form-group col-3">
                            <label for="provstate">Province/State</label>
                            {{ if .Authenticated }}
                                <input type="text" class="form-control" id="provstate" name="provstate" value={{.Province}}>
                            {{else}}
                                <input type="text" class="form-control" id="provstate" name="provstate" placeholder="Province/State">
                            {{end}}
                        </div>
                        <div class="form-group col-3">
                            <label for="postalzip">Postal/Zip Code</label>
                            {{ if .Authenticated }}
                                <input type="postalzip" class="form-control" id="postalzip" name="postalzip" value={{.PostalCode}}>
                            {{else}}
                                <input type="postalzip" class="form-control" id="postalzip" name="postalzip" placeholder="Postal/Zip">
                            {{end}}
                        </div>
                        <div class="form-group col-3">
                        
                        </div>
                    </div>

                    <div class="row justify-content-around">
                        <div class="form-group col-3">
                            <label for="country">Country</label>
                            {{ if .Authenticated }}
                                <input type="text" class="form-control" id="country" name="country" value={{.Country}}>
                            {{else}}
                                <input type="text" class="form-control" id="country" name="country" placeholder="Country">
                            {{end}}
                        </div>
                        <div class="col-3">
                        
                        </div>
                        <div class="col-3">
                        
                        </div>
                    </div>

                    <h3>Travel Agents Use Only</h3>
                    <div class="travel-agent-info">
                        <div class="row justify-content-around">    
                            <div class="form-group col-3">
                                <label for="iata">Travel Agent IATA#</label>
                                <input type="text" class="form-control" id="iata" name="iata" placeholder="IATA #">
                            </div>
                            <div class="form-group col-3">
                                <label for="agentname">Agent Name</label>
                                <input type="text" class="form-control" id="agentname" name="agentname" placeholder="Agent Name">
                            </div>
                            <div class="form-group col-3">
                        </div>
                        <div class="form-group col-3">
                        </div>
                    </div>
                {{ end }}
            </section>
            
            <section class="trip-info">
                <header>
                    <h3>Trip Information</h3>
                </header>
                <div class="row justify-content-around">    
                    <div class="form-group col-3">
                        <label for="triptype">Trip Type</label>
                        <select class="form-control" id="triptype" name="triptype" placeholder="Trip Type">
                            <option value="oneway">One Way</option>
                            <option value="roundtrip">Round Trip</option>
                        </select>
                    </div>
                    <div class="form-group col-3">
                    </div>
                    <div class="form-group col-3">
                    </div>
                    <div class="form-group col-3">
                    </div>
                </div>
                <div class="group">
                    <div class="row justify-content-around">    
                        <div class="form-group col-3">
                            <label for="departurecity">Departure City</label>
                            <select class="form-control" id="departurecity" name="departurecity" placeholder="Departure City">
                                <option value="0">Select a City</option>
                                {{ range .Cities }}
                                    <option value="{{ .CityID }}">{{ .CityName }}</option>
                                {{ end }}
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="departurevenue">Departure Venue</label>
                            <select class="form-control" id="departurevenue" name="departurevenue" placeholder="Departure Venue">
                                <option value="0">First Select a City</option>
                            </select>
                        </div>
                        <div class="form-group col-3"></div>
                    </div>
                    <div class="row justify-content-around">    
                        <div class="form-group col-3">
                            <label for="destinationcity">Destination City</label>
                            <select class="form-control" id="destinationcity" name="destinationcity" placeholder="Destination City">
                                <option value="0">Select a City</option>
                                {{ range .Cities }}
                                    <option value="{{ .CityID }}">{{ .CityName }}</option>
                                {{ end }}
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="destinationvenue">Destination Venue</label>
                            <select class="form-control" id="destinationvenue" name="destinationvenue" placeholder="Destination Venue">
                                <option value="0">First Select a City</option>
                            </select>
                        </div>
                        <div class="form-group col-3"></div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="form-group col-3">
                            <label for="departuredate">Departure Date</label>
                            <input type="date" class="form-control" id="departuredate" name="departuredate">
                        </div>
                        <div class="form-group col-6">
                            <label for="departuretime">Departure Time</label>
                            <select class="form-control" id="departuretime" name="departuretime" placeholder="Departure Time">
                                <option value="0">First Select Cities and Venues</option>
                            </select>
                        </div>
                        <div class="form-group col-3"></div>
                    </div>
                </div>
                <p>Number of Passengers</p>  
                <div class="row justify-content-around">  
                    <div class="form-group col-3">
                        <label for="numadults">Adults</label>
                        <input type="text" class="form-control" id="numadults" name="numadults">
                    </div>
                    <div class="form-group col-3">
                        <label for="numseniors">Seniors (65+)</label>
                        <input type="text" class="form-control" id="numseniors" name="numseniors">
                    </div>
                    <div class="form-group col-3">
                        <label for="numstudents">Students</label>
                        <input type="text" class="form-control" id="numstudents" name="numstudents">
                    </div>
                    <div class="form-group col-3">
                        <label for="numchildren">Children (under 12)</label>
                        <input type="text" class="form-control" id="numchildren" name="numchildren">
                    </div>
                </div>
            </section>
            <section id="return-info">
                <header>
                    <h3>Return Trip Information</h3>  
                </header>
                <div class="group">
                        <div class="row justify-content-around">    
                            <div class="form-group col-3">
                                <label for="returndeparturecity">Return Departure City</label>
                                <select class="form-control" id="returndeparturecity" name="returndeparturecity" placeholder="Departure City">
                                    {{ range .Cities }}
                                        <option value="{{ .CityID }}">{{ .CityName }}</option>
                                    {{ end }}
                                </select>
                            </div>
                            <div class="form-group col-6">
                                <label for="returndeparturevenue">Return Departure Venue</label>
                                <select class="form-control" id="returndeparturevenue" name="returndeparturevenue" placeholder="Departure Venue">
                                    <option value="0">First Select a City</option>
                                </select>
                            </div>
                            <div class="form-group col-3"></div>
                        </div>
                        <div class="row justify-content-around">    
                            <div class="form-group col-3">
                                <label for="returndestinationcity">Return Destination City</label>
                                <select class="form-control" id="returndestinationcity" name="returndestinationcity" placeholder="Destination City">
                                    <option value="0">Select a City</option>
                                    {{ range .Cities }}
                                        <option value="{{ .CityID }}">{{ .CityName }}</option>
                                    {{ end }}
                                </select>
                            </div>
                            <div class="form-group col-6">
                                <label for="returndestinationvenue">Return Destination Venue</label>
                                <select class="form-control" id="returndestinationvenue" name="returndestinationvenue" placeholder="Destination Venue">
                                    <option value="0">First Select a City</option>
                                </select>
                            </div>
                            <div class="form-group col-3"></div>
                        </div>
                        <div class="row justify-content-around">    
                            <div class="form-group col-3">
                                <label for="returndeparturedate">Return Departure Date</label>
                                <input type="date" class="form-control" id="returndeparturedate" name="returndeparturedate">
                            </div>
                            <div class="form-group col-6">
                                <label for="returndeparturetime">Return Departure Time</label>
                                <select class="form-control" id="returndeparturetime" name="returndeparturetime" placeholder="Departure Time">
                                    <option value="0">First Select Cities and Venues</option>
                                </select>
                            </div>
                            <div class="form-group col-3"></div>
                        </div>
                </div>
                <p>Number of Return Passengers</p>  
                <div class="row justify-content-around">  
                        <div class="form-group col-3">
                            <label for="numadults">Adults</label>
                            <input type="text" class="form-control" id="numadults" name="numadults">
                        </div>
                        <div class="form-group col-3">
                            <label for="numseniors">Seniors (65+)</label>
                            <input type="text" class="form-control" id="numseniors" name="numseniors">
                        </div>
                        <div class="form-group col-3">
                            <label for="numstudents">Students</label>
                            <input type="text" class="form-control" id="numstudents" name="numstudents">
                        </div>
                        <div class="form-group col-3">
                            <label for="numchildren">Children (under 12)</label>
                            <input type="text" class="form-control" id="numchildren" name="numchildren">
                        </div>
                </div>
                </div>
            </section>

            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>

    {{ template "footer" }}


    <script type="text/javascript" >

        document.getElementById("triptype").onchange = function() { 
            if(document.getElementById('triptype').value == "roundtrip") {
                document.getElementById('return-info').style.display = "inline-block";

            }
        };

        var departurevenue = document.getElementById("departurevenue");
        var departurecity = document.getElementById("departurecity");
        var departuretime = document.getElementById("departuretime");

        var destinationvenue = document.getElementById("destinationvenue");
        var destinationcity = document.getElementById("destinationcity");

        var returndeparturevenue = document.getElementById("returndeparturevenue");
        var returndeparturecity = document.getElementById("returndeparturecity");
        var returndeparturetime = document.getElementById("returndeparturetime");

        var returndestinationvenue = document.getElementById("returndestinationvenue");
        var returndestinationcity = document.getElementById("returndestinationcity");

        var venuecount = {{ .VenueCount }};
        var venues = {{ .Venues }};
        
        departurecity.onchange = UpdateVenue(departurecity, departurevenue);
        destinationcity.onchange = UpdateVenue(destinationcity, destinationvenue);
        returndeparturecity.onchange = UpdateVenue(returndeparturecity, returndeparturevenue);
        returndestinationcity.onchange = UpdateVenue(returndestinationcity, returndestinationvenue);

        departuretime.onclick = UpdateTime(departurecity, destinationcity, departuretime);
        returndeparturetime.onclick = UpdateTime(returndeparturecity, returndestinationcity, returndeparturetime);
        
        function UpdateVenue(cityselect, venueselect) {
            return function() {
                var selectvenuecount = venueselect.options.length;

                for(i=0; i<selectvenuecount; i++)
                {
                    venueselect.remove(venueselect.options[i]);
                }

                var defaultopt = document.createElement('option');
                defaultopt.appendChild(document.createTextNode('select value'));
                defaultopt.value = 0;
                venueselect.appendChild(defaultopt);

                {{ range .Venues }}
                    var temp = {{ .VenueID }};
                    var cityid = {{ .CityID }}
                    if(cityselect.options[cityselect.selectedIndex].value == cityid)
                    {
                        var opt = document.createElement('option');
                        var venuename = {{ .VenueName }}
                        var venueid = {{ .VenueID }}
                        
                        opt.appendChild(document.createTextNode(venuename));
                        opt.value = venueid;
                
                        venueselect.appendChild(opt);
                    }
                {{ end }}
            };
        };

        function UpdateTime(departurecityselect, destinationcityselect, timeselect) {
            return function() {
                var departurenorthoffset = -1;
                var departuresouthoffset = -1;
                var destinationnorthoffset = -1;
                var destinationsouthoffset = -1;
                var departurecityid = departurecityselect.options[departurecityselect.selectedIndex].value;
                var destinationcityid = destinationcityselect.options[destinationcityselect.selectedIndex].value;

                var departuretimecount = timeselect.options.length;

                for(i=0; i<departuretimecount; i++)
                {
                    timeselect.remove(timeselect.options[i]);
                }

                {{ range .Cities }}

                    if(departurecityid == {{ .CityID }})
                    {
                        departurenorthoffset = {{ .NorthOffset }};
                        departuresouthoffset = {{ .SouthOffset }};
                    }

                    if(destinationcityid == {{ .CityID }})
                    {
                        destinationnorthoffset = {{ .NorthOffset }};
                        destinationsouthoffset = {{ .SouthOffset }};
                    }

                {{ end }}
                
                {{ range .DepartureTimes }}

                    var opt = document.createElement('option');
                    var time = {{ .DepartureTime }};
                    var departuretimeid = {{ .DepartureTimeID }};
                    var departuretimecityid = {{ .CityID }}                 
            
                    if(departurecityid == 1) 
                    {
                        if(departuretimecityid == 1)
                        {
                            opt.appendChild(document.createTextNode(time));
                            opt.value = departuretimeid;
                            timeselect.appendChild(opt);
                        }
                    } 
                    else if(departurecityid == 2) 
                    {
                        if(departuretimecityid == 2)
                        {
                            opt.appendChild(document.createTextNode(time));
                            opt.value = departuretimeid;
                            timeselect.appendChild(opt);
                        }
                    }
                    else
                    {
                        if(departurecityid == 0 || destinationcityid == 0)
                        {
                            if(timeselect.options.length == 0)
                            {
                                opt.appendChild(document.createTextNode('please select departure and destination venues'));
                                opt.value = 0;
                                timeselect.appendChild(opt);
                            }
                        }
                        else if (departurenorthoffset > destinationnorthoffset)
                        {
                            if(departuretimecityid == 2)
                            {
                                var timewithoffset = time + departurenorthoffset;
                                opt.appendChild(document.createTextNode(timewithoffset));
                                opt.value = departuretimeid;
                                timeselect.appendChild(opt);
                            }
                        }
                        else
                        {
                            if(departuretimecityid == 1)
                            {
                                var timewithoffset = time + departuresouthoffset;
                                opt.appendChild(document.createTextNode(timewithoffset));
                                opt.value = departuretimeid;
                                timeselect.appendChild(opt);
                            }
                        }
                    }

                {{ end }}
            }
        };
        
</script>
</body>
</html>
