<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Northern Airport Trip Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
    <header>
        <img class="logo" src="../assets/media/nas-stripes.jpg" alt="northern airport passenger service logo"/>
        {{ template "navbar" }}

        {{ template "adminnavbar" . }}

    </header>
    <main>
        {{ with .Trips }}
            <div class="container">
                <h1>Trips</h1>
                <div class="row justify-content-around">
                    <div class="col-xs-4">
                        <label for="trip-date">Trip Date</label>
                        <input type="date" class="form-control" id="search-date" name="search-date">
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-primary" id="search">Search</button>
                    </div>
                </div>
                <div class="trip-wrapper">
                    <div class="box header" id="departuredate-header">Departure Date</div>
                    <div class="box header" id="departuretime-header">Departure Time</div>
                    <div class="box header" id="numpassengers-header">Num Passengers</div>
                    <div class="box header" id="driver-header">Driver</div>
                    <div class="box header" id="vehicle-header">Vehicle</div>
                    <div class="box header" id="capacity-header">Capacity</div>
                    <div class="box header" id="omitted-header">Omitted</div>
                    <div class="box header" id="save-header">Save</div>
                </div>
                <div class="trip-wrapper">
                    {{ range . }}
                        <div class="box trip-row" id="tripid-{{ .DepartureTime }}" style="display: none;">{{ .TripID }}</div>
                        <div class="box trip-row" id="departuredate-{{ .DepartureTime }}">{{ .DepartureDate.Format "2006-01-02" }}</div>
                        <div class="box trip-row" id="departuretime-{{ .DepartureTime }}">{{ .DepartureTime }}</div>
                        <div class="box trip-row" id="numpassengers-{{ .DepartureTime }}">{{ .NumPassengers }}</div>
                        <select class="form-control" id="driver-{{ .DepartureTime }}" name="driverid">
                            <option value="0">No Driver</option>
                            {{ range .DriverList }}
                                <option value="{{ .DriverID }}">{{ .FirstName }} {{ .LastName }}</option>
                            {{ end }}
                        </select>
                        <select class="form-control" id="vehicle-{{ .DepartureTime }}" name="vehicleid">
                            <option value="0">No Vehicle</option>
                            {{ range .VehicleList }}
                                <option value="{{ .VehicleID }}">{{ .LicensePlate }}</option>
                            {{ end }}
                        </select>
                        <div class="box trip-row" id="capacity-{{ .DepartureTime }}">
                            {{ .Capacity }}
                        </div>
                        <div class="box trip-row" id="omitted-{{ .DepartureTime }}">
                            {{ .Omitted }}
                        </div>
                        <div class="box trip-row" id="save-{{ .DepartureTime }}">
                            <button class="btn btn-primary">Save</button>
                        </div>
                    {{ end }}
                </div>
                <div class="trip-button">
                    <button class="btn btn-primary" id="depaturetimes" onclick="location.href='/times'">Departure Times</button>
                </div>
            </div>
        {{ end }}
    </main>
    
    {{ template "footer" }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" >

        console.log("trips, selected correct driver and vehicle");
        
        {{ range . }}

            //set driver list to correct driver by driverid
            var driverid = {{ .DriverID }}
            var driver = document.getElementById("driver-{{ .DepartureTime }}");
            
            if (driverid != 0)
            {
                driver.value = driverid;
            }

            //set vehicle list to correct vehicle by vehicleid
            var vehicleid = {{ .VehicleID }}
            var vehicle = document.getElementById("vehicle-{{ .DepartureTime }}");

            if (vehicleid != 0)
            {
                vehicle.value = vehicleid;
            }

            var save = document.getElementById("save-{{ .DepartureTime }}");
            save.onclick = function(){
                
                var tripid = document.getElementById("tripid-{{ .DepartureTime }}").innerHTML;
                var vehicleid = document.getElementById("vehicle-{{ .DepartureTime }}").value;
                var driverid = document.getElementById("driver-{{ .DepartureTime }}").value;

                var xhr = new XMLHttpRequest();
                xhr.open('PUT', '/trips?tripid='+tripid+'&driverid='+driverid+'&vehicleid='+vehicleid);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onload = function() {
                    if (xhr.status != 200) {
                        alert('failed:' + xhr.status);
                    }
                    else
                    {
                        document.open(); 
                        document.write(xhr.response); 
                        document.close();
                    }
                }

                try {
                    xhr.send();
                } catch (err) {
                    alert("Error sending request: " + err)
                }
            }

        {{ end }}
        
        var search = document.getElementById("search");
        search.onclick = function(){

            var searchdate = document.getElementById("search-date").value;

            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/trips?searchdate='+searchdate);
            //xhr.open('GET', '/trips');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
                if (xhr.status != 200) {
                    alert('search failed:' + xhr.status);
                }
                else
                {
                    document.open(); 
                    document.write(xhr.response); 
                    document.close();
                }
            }

            try {
                xhr.send();
            } catch (err) {
                alert("Error sending request: " + err)
            }
        }

    </script>
</body>
</html>