<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Northern Airport Vehicle Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
    <header>
        {{ template "navbar" }}

        {{ with index . 0 }}
            {{ if or (eq .RoleID 3) (eq .RoleID 4) (eq .RoleID 5) }}
                <nav class="navbar navbar-inverse" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#admin-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="admin-navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="/reports">Reports</a>
                                    {{- /* if user is staff or admin */ -}}
                                    <ul class="dropdown-menu">
                                        {{ if or (eq .RoleID 3) (eq .RoleID 4) }}
                                            <li class="nav-link" href="/">Test Report</li>
                                        {{ end }}
                                        <li class="nav-link" href="/driver-report">Driver Report</li>
                                    </ul>
                                </li>
                                {{ if or (eq .RoleID 3) (eq .RoleID 4) }}
                                    {{ template "adminnavbar" }}
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </nav>
            {{ end }}
        {{ end }}
    </header>
    <main>
        <div class="container">
            <h1>Vehicles</h1>
            <div class="vehicle-wrapper">
                <div class="box header" id="license-plate">License</div>
                <div class="box header" id="num-seats">Num Seats</div>
                <div class="box header" id="make">Make</div>
            </div>
            <div class="vehicle-wrapper">
                {{ range . }}
                    <div class="box vehicle-row">
                        <input type="text" class="form-control" id="license-plate-{{ .VehicleID }}" name="license-plate" value="{{ .LicensePlate }}" required>
                    </div>
                    <div class="box vehicle-row">
                        <input type="text" class="form-control" id="num-seats-{{ .VehicleID }}" name="num-seats" value="{{ .NumSeats }}" required>
                    </div>
                    <div class="box vehicle-row">
                        <input type="text" class="form-control" id="make-{{ .VehicleID }}" name="make" value="{{ .Make }}" required>
                    </div>
                    <div class="box vehicle-row">
                        <button id="update-{{ .VehicleID }}" type="button" name="update" class="btn btn-primary">Update</button>
                    </div>
                    <div class="box vehicle-row">
                        <button id="remove-{{ .VehicleID }}" type="button" name="remove" class="btn btn-primary" disabled>Delete</button>
                    </div>
                {{ end }}
            </div>
            <form id="add-vehicle" method="post" action="/vehicles" onsubmit="submit.disabled = true; return true;">
                <div class="vehicle-wrapper">
                    <div class="box vehicle-row" id="license-plate-add">
                        <input type="text" class="form-control" id="license-plate" name="license-plate" required>
                    </div>
                    <div class="box vehicle-row" id="num-seats-add">
                        <input type="text" class="form-control" id="num-seats" name="num-seats" required>
                    </div>
                    <div class="box vehicle-row" id="make-add">
                        <input type="text" class="form-control" id="make" name="make" required>
                    </div>
                    <button id="submit" type="submit" name="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </main>
    
    {{ template "footer" }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" >
        
        {{ range . }} 
        
            var update = document.getElementById("update-{{ .VehicleID }}");
            update.onclick = function(){
                
                var vehicleid = {{ .VehicleID }}
                var licenseplate = document.getElementById("license-plate-{{ .VehicleID }}").value;
                var numseats = document.getElementById("num-seats-{{ .VehicleID }}").value;
                var make = document.getElementById("make-{{ .VehicleID }}").value;

                var xhr = new XMLHttpRequest();
                xhr.open('PUT', '/vehicles?vehicleid='+vehicleid+'&licenseplate='+licenseplate+'&numseats=' +
                    ''+ numseats+'&make='+make);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onload = function() {
                    if (xhr.status != 200) {
                        alert('failed:' + xhr.status);
                    }
                };

                try {
                    xhr.send();
                } catch (err) {
                    alert("Error sending request: " + err);
                }
            };

            var remove = document.getElementById("remove-{{ .VehicleID }}");
            remove.onclick = function(){
                var vehicleid = {{ .VehicleID }}
                
                var xhr = new XMLHttpRequest();
                xhr.open('DELETE', '/vehicles?vehicleid='+vehicleid);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onload = function() {
                    if (xhr.status != 200) {
                        alert('failed:' + xhr.status);
                    }
                };

                try {
                    xhr.send();
                } catch (err) {
                    alert("Error sending request: " + err)
                }
            };

        {{ end }}
    </script>
</body>
</html>