<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Northern Airport Van Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
    <header>
        {{ template "navbar" }}
    </header>
    <main>
        <div class="container">
            <h1>Vehicles</h1>
            <div class="vehicle-wrapper">
                <div class="box header" id="license-plate">License</div>
                <div class="box header" id="num-seats">Num Seats</div>
                <div class="box header" id="make">Make</div>
            </div>
            <div class="vehicle-wrapper">
                {{ range . }}
                    <div class="box vehicle-row" id="license-plate-">{{ .LicensePlate }}</div>
                    <div class="box vehicle-row" id="num-seats-">{{ .NumSeats }}</div>
                    <div class="box vehicle-row" id="make-">{{ .Make }}</div>
                {{ end }}
            </div>
        </div>
    </main>
    
    {{ template "footer" }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>